/*.log
/target
/*-init.clj
/resources/public/js/compiled
.nrepl-port
out
node_modules
resources/node_modules
quicklisp/
dal
bin/dal-exe*
resources/bin/dal-exe*
*lx64fsl
system-index.txt
*-linux-ia32
*-win32-ia32
*-darwin-x64
*-linux-x64
*-mas-x64
*-win32-x64
*-linux-armv7l

# Beam Ignores
.rebar3
rebar3
_*
.eunit
*.o
*.beam
*.plt
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
_rel
_deps
_plugins
_tdeps
logs
*~
deps
*.d
relx
.erlang.mk
deps

#Source Code Ignores
.git
