%% Checkout: https://github.com/erlware/relx/wiki/configuration

{release, {database_copy_release, "1"}, [database_copy]}.
{extended_start_script, true}.
{sys_config, "rel/sys.config"}.
{vm_args, "rel/vm.args"}.

%% Include ERTS by Default
{include_erts, true}.

%% Do not include src by Default
{include_src, false}.

