%% Checkout: https://github.com/erlware/relx/wiki/configuration
%% Checkout: https://tkowal.wordpress.com/2016/04/23/observer-in-erlangelixir-release/

{release, {database_copy_release, "1"}, [runtime_tools, wx, observer, database_copy]}.
{extended_start_script, true}.
{sys_config, "rel/sys.config"}.
{vm_args, "rel/vm.args"}.

%% Do not Include ERTS by Default
{include_erts, false}.

%% Include src by Default
{include_src, true}.

