{erl_opts, [debug_info]}.

{deps, [
{cowboy, "1.0.4"},
{'clj',
      {git, "https://github.com/lfex/clj.git", {tag, "0.3.0"}}}
]}.

{plugins, [
   {'lfe-compile',
     {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.3.0"}}},
   {'lfe-repl',
      {git, "https://github.com/lfe-rebar3/repl.git", {tag, "0.3.0"}}}
  ]}.

{project_plugins, [
   {'lodox',
     {git, "https://github.com/lfe-rebar3/lodox.git", {tag, "0.12.10"}}}
  ]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.
